*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #f5f5f5;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  .contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
  }
  
  .contenedor > div,
  .contenedor .header,
  .contenedor .contenido,
  .contenedor .sidebar,
  .contenedor  .footer{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contenedor .header{
    background: #DF6161;
    color: #fff;
    grid-area: header;
  }
  
  .contenedor .contenido{
    grid-area: contenido;
  }
  
  .contenedor .sidebar{
    grid-column: 3/ 4;
    background: #A22D2D; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100px;
    grid-area: sidebar;
  }
  
  .contenedor .widget-1,
  .contenedor .widget-2{
    background: #5C57CB;
    color: #fff;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor .widget-1{
      grid-area: widget-1;
  }
  
  .contenedor .widget-2{
    grid-area: widget-2;
}

  .contenedor .footer{
    background: #533F3F;
    color: #fff;
    grid-area: footer;
  
  }
  

  @media screen and (max-width: 760px){
    .contenedor {
        grid-template-areas: 

        "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-2 widget-2"
        "footer footer footer";

    }
  }
 