<div id="categorias">
    <h3>Categorías destacadas</h3>
    <!-- Slider de categorias -->
    <div class="row mb-3 mt-3">
        <div class="categories__slider owl-carousel">
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../src/img/categories/fast_food.png">
                    <h5><a href="../restaurantes/restaurantes.php?c=Comida rapida">Comida rápida</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../src/img/categories/tacos.png">
                    <h5><a href="../restaurantes/restaurantes.php?c=Comida mexicana">Taquerías</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../src/img/categories/domicilio.png">
                    <h5><a href="../restaurantes/restaurantes.php?c=Servicio a domicilio">Con entrega a domicilio</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../src/img/categories/pizza.png">
                    <h5><a href="../restaurantes/restaurantes.php?c=Pizzerias">Pizzerías</a></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="categories__item set-bg" data-setbg="../../src/img/categories/carritos.png">
                    <h5><a href="../restaurantes/restaurantes.php?c=Carritos de comida">Carritos de comida</a></h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Fin slider de categorias -->
</div>

