<div class="row mt-3">
    <div class="col-sm-12 col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card_tittle">Configuración de localidad</h5>
            </div>
            <form class="mx-auto mt-3 "id="eleccion_ciudad">
                <div class="input-group mb-3">
                    <select class="custom-select " name="cbx" id="cbx">
                        <option value="">Selecciona una ciudad</option>
                    </select>
                    <div class="input-group-append">
                        <button id="enviar" name="enviar" value="Guardar" class="btn btn-dark" type="button">Guardar</button>
                    </div>
                </div>
                    <!--<input type="submit" id="enviar" name="enviar" value="Guardar" />-->
            </form>

        </div>
        
    </div>
</div>