<div class="row mt-4">
    <div class="col-md-8">
        <div class="input-group mb-3"> 
            <select class="form-select form-select-sm mr-1 " aria-label=".form-select-sm example">
                <option selected>Estado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select form-select-sm mr-1 " aria-label=".form-select-sm example">
                <option selected>Municipio</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select form-select-sm mr-1 " aria-label=".form-select-sm example">
                <option selected>Localidad</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button class="btn btn-secondary col-sm-2 mt-1 mb-1 ml-2 mr-2 " type="button" id="button-addon2">Buscar</button>
        </div>
    </div>
    
</div>