    <!-- Footer Section Begin -->
    <footer class="footer spad mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <h6><strong>Contactanos</strong></h6>  
                        <div class="footer__about__logo">
                            <!--a href="./index.html"><img src="img/logo.png" alt=""></a-->
                        </div>
                        <ul>
                            <li>Telefono: +52 9841504637</li>
                            <li>Telefono: +52 9981349446</li>
                            <li>Email: soporte@dontcook.mx</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Acerca de</h6>
                        <ul>
                            <li><a href="../pages/acerca_de_nosotros.php">Acerca de nosotros</a></li>
                            <!--<li><a href="#">Aviso legal</a></li>-->
                            <li><a href="../pages/aviso_privacidad.php">Aviso de privacidad</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>¡Siguenos en redes sociales!</h6>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/DontCookMX/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/dont_cook_01/"><i class="fa fa-instagram"></i></a>
                            <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                            <!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados. Hecho con  <i class="fa fa-heart" aria-hidden="true"></i> por <a href="https://dontcook.mx" target="_blank"> DontCook! </a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <!--div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->