<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Don't Cook. La solución a tu hambre. Encuentra tus restaurantes favoritos</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../../src/img/favicon.png" type="image/x-icon">
<!-- Css Styles -->
<link rel="stylesheet" href="../../src/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../../src/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../../src/css/elegant-icons.css" type="text/css">
<!--link rel="stylesheet" href="../../src/css/nice-select.css" type="text/css"-->
<!--link rel="stylesheet" href="../../src/css/jquery-ui.min.css" type="text/css"-->
<link rel="stylesheet" href="../../src/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="../../src/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="../../src/css/style.css" type="text/css">
<link href="../../src/css/carta.css" rel="stylesheet" type="text/css">