
   <!-- Hero Section Begin -->
   <!-- hero desplanta todo el menu automaticamente-->
   <!--hero hero-normal, cierra el menu-->
   <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul>
                        <li><a href="#">Cerca de mi</a></li>
                        <li><a href="#">Servicio a domicilio</a></li>
                        <li><a href="#">Mejores calificados</a></li>
                        <li><a href="#">Nuevos</a></li>
                        <li><a href="#">Restaurantes</a></li>
                        <li><a href="#">Bares</a></li>
                        <li><a href="#">Carritos de comida</a></li>
                        <li><a href="#">Pizzerías</a></li>
                        <li><a href="#">Tacos</a></li>
                        <li><a href="#">No tengo idea qué comer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Busca un Restaurante o platillo">
                            <button type="submit" class="site-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <div class="d-none d-sm-none d-md-block">
                    <div class="hero__item set-bg" data-setbg="../../src/img/banner/banner_dc6.png">
                        <div class="hero__text">
                            <!--span>Prueba diferentes sabores</span-->
                            <h2>¡La solución <br /> a tu hambre!</h2>
                            <!--p>Free Pickup and Delivery Available</p-->
                            <a href="#" class="btn " style="background-color: #FFAC63">visitar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="d-block d-sm-block d-md-none">
                    <div class="hero__item set-bg" data-setbg="../../src/img/banner/banner_cuadrado.png">
                        <div class="hero__text">
                            <!--span>Prueba diferentes sabores</span-->
                            <h2>¡La solución <br /> a tu hambre!</h2>
                            <!--p>Free Pickup and Delivery Available</p-->
                            <a href="#" class="btn " style="background-color: #FFAC63">visitar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

