
   <!-- Hero Section Begin -->
   <!-- hero desplanta todo el menu automaticamente-->
   <!--hero hero-normal, cierra el menu-->
<section class="hero hero-normal mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul>
                        <li><a href="#">Cerca de mi</a></li>
                        <li><a href="#">Servicio a domicilio</a></li>
                        <li><a href="#">Mejores calificados</a></li>
                        <li><a href="#">Nuevos</a></li>
                        <li><a href="#">Restaurantes</a></li>
                        <li><a href="#">Bares</a></li>
                        <li><a href="#">Carritos de comida</a></li>
                        <li><a href="#">Pizzerías</a></li>
                        <li><a href="#">Tacos</a></li>
                        <li><a href="#">No tengo idea qué comer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Busca un Restaurante o platillo">
                            <button type="submit" class="site-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <form id="eleccion_ciudad">
                    <div class="col-md-5 mt-3 input-group mb-3">
                        <select class="custom-select" name="cbx" id="cbx">
                            <option value="">Selecciona una ciudad</option>
                        </select>
                        <div class="input-group-append">
                            <button id="enviar" name="enviar" value="Guardar" class="btn btn-outline-secondary" type="button">Guardar</button>
                        </div>
                    </div>
                        <!--<input type="submit" id="enviar" name="enviar" value="Guardar" />-->
                </form>
            </div>
        </div>
    </div>
</section>

