
   <!-- Hero Section Begin -->
   <!-- hero desplanta todo el menu automaticamente-->
   <!--hero hero-normal, cierra el menu-->
   <section class="hero">
    <div class="container">
        <div class="row" >
            <div class="col-lg-3">
                <div class="hero__categories" >
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul id="categorias_list">
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <!--div class="hero__search" >
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Busca un Restaurante o platillo">
                            <button type="submit" class="site-btn">Buscar</button>
                        </form>
                    </div>
                </div-->
                <div class="d-none d-sm-none d-md-block">
                    <div class="hero__item set-bg" data-setbg="../../src/img/banner/banner_dc6.png">
                        <div class="hero__text">
                            <!--span>Prueba diferentes sabores</span-->
                            <h2>¡La solución <br /> a tu hambre!</h2>
                            <!--p>Free Pickup and Delivery Available</p-->
                            <a href="../restaurantes/restaurantes.php" class="btn " style="background-color: #FFAC63">Explorar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="d-block d-sm-block d-md-none">
                    <div class="hero__item set-bg" data-setbg="../../src/img/banner/banner_cuadrado.png">
                        <div class="hero__text">
                            <!--span>Prueba diferentes sabores</span-->
                            <h2>¡La solución <br /> a tu hambre!</h2>
                            <!--p>Free Pickup and Delivery Available</p-->
                            <a href="../restaurantes/restaurantes.php" class="btn " style="background-color: #FFAC63">Explorar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

