<head>
    <link href="../../src/css/carta.css" rel="stylesheet" type="text/css">
</head>

<div class="row mx-auto" id="contenedor_restaurante">
    
    <div class="blog-card col-md-12 col-sm-12 col-xs-12 col-lg-6">
        <div class="meta">
            <div class="photo" style="background-image: url(https://pbs.twimg.com/profile_images/1338640471195791363/NTrEomnH_400x400.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">Correo@mail.com</a></li>
                <li class="tags">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h4>Nombre Restaurante</b></h4>
            <h5>Abierto / Cerrado</h5>
            <p class=""><small class="text-muted">DESCRIOPCION CORTA</small></p>
                <div class="row">
                    
                </div>
            <div class="read-more mt-2">
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-heart">
                    </span>
                    Favorito
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-eye" href="#"></span> Visitar
                </button>
            </div>
        </div>
    </div>
    
    <div class="blog-card col-md-12 col-sm-12 col-xs-12 col-lg-6">
        <div class="meta">
            <div class="photo" style="background-image: url(http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2020/05/little-caesars.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">Correo@mail.com</a></li>
                <li class="tags">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h4>Nombre Restaurante</b></h4>
            <h5>Abierto / Cerrado</h5>
            <p class=""><small class="text-muted">DESCRIOPCION CORTA</small></p>
                <div class="row">
                    
                </div>
            <div class="read-more mt-2">
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-heart">
                    </span>
                    Favorito
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-eye" href="#"></span> Visitar
                </button>
            </div>
        </div>
    </div>

    <div class="blog-card col-md-12 col-sm-12 col-xs-12 col-lg-6">
        <div class="meta">
            <div class="photo" style="background-image: url(https://pbs.twimg.com/profile_images/1338640471195791363/NTrEomnH_400x400.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">Correo@mail.com</a></li>
                <li class="tags">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                </li>
            </ul>
        </div>  
        <div class="description">
            <h4>Nombre Restaurante</b></h4>
            <h5>Abierto / Cerrado</h5>
            <p class=""><small class="text-muted">DESCRIOPCION CORTA</small></p>
                <div class="row">
                    
                </div>
            <div class="read-more mt-2">
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-heart">
                    </span>
                    Favorito
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-eye" href="#"></span> Visitar
                </button>
            </div>
        </div>
    </div>
    
    <div class="blog-card col-md-12 col-sm-12 col-xs-12 col-lg-6">
        <div class="meta">
            <div class="photo" style="background-image: url(http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2020/05/little-caesars.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">Correo@mail.com</a></li>
                <li class="tags">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h4>Nombre Restaurante</b></h4>
            <h5>Abierto / Cerrado</h5>
            <p class=""><small class="text-muted">DESCRIOPCION CORTA</small></p>
                <div class="row">
                    
                </div>
            <div class="read-more mt-2">
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-heart">
                    </span>
                    Favorito
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm disabled">
                    <span class="fa fa-eye" href="#"></span> Visitar
                </button>
            </div>
        </div>
    </div>
    <!--
        class="alt" -> PARA PONER LA IMAGEN A LA DERECHA
    -->

</div>
