*{
    margin: 0px;
    padding: 0px;
    
}

body{
  background-color: #E8DCDC;
}

/*---FUENTES---*/

@font-face {
  font-family: DK-brush;
  font-style: normal;
  font-weight: normal;
  src: url(../media/fonts/DK-brush.otf);
}
 
@font-face {
  font-family: free;
  font-style: normal;
  font-weight: normal;
  src: url(../media/fonts/free.TTF);
}

/*----------------*/

/*.header{
  height: 10%;
  background-color:#FE945E;
  padding: 20px;
  color: #fff;
  text-align: center; 
  font-family: 'DK-brush' , sans-serif  ;
  font-size: 15px;
}*/

img .imgitem .post1{
  width: 25px;
  height: 50px;

}

.post1 ,.post2 ,.post3 ,.post3 {
  background-color: rgb(255, 255, 255);
  display: grid;
  width: 200px;
  height: 351px;
  border-radius: 15px;
  margin: 10px;
}

/* -----ASIGNACION DE LOS GRID AREAS----*/
.post1 {
  grid-area: item1;
}

.post2 {
  grid-area: item2;
}

.post3 {
  grid-area: item3;
}

.descripcion{
  font-size: 12px;
  margin: 5px;
}

/***************************************/

.imgitem1{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
}

/*
.imgitem2{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item2;
}

.imgitem3{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item3;
}

.imgitem4{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item4;
}


.imgItem, .imgItem1, .imgItem2 , .imgItem3,
.imgItem4, .imgItem5, .imgItem6{
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    width: 130px;
    height: 201px;
    border-radius: 15px;

}*/ 

/*
.item1, .item2, .item3 , .item4,
.item5, .item5, .item6, .imgItem, .imgItem1, .imgItem2 , .imgItem3,
.imgItem4, .imgItem5, .imgItem6{
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    width: 130px;
    height: 201px;
    border-radius: 15px;
}
*/

/*---------ESPACIO DE LOS POST------*/
.posts{
  display: grid;

  grid-template-areas: "item1 item2 item3 item 4 item5 item6"
                       "item1 item2 item3 item 4 item5 item6"
                       "item1 item2 item3 item 4 item5 item6";
}

/*----------------------------------*/

/* Slider */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/*--------*/


header{
  /*margin:50px auto;*/
  width:100%;
  height:50px;
  background-color: black;
  font-family: 'DK-brush' , sans-serif;
}

.menu{
  width: 100%;
}

div.contenedor{
  width: 16.66666%;
  height: 103px;
  float: left;
  -webkit-transition:height 0.4s;
}

div#uno{
  background-color: rgb(252, 120, 55);
}
div#dos{
  background-color: rgb(252, 120, 55);
}
div#tres{
  background-color: rgb(252, 120, 55);
}
div#cuatro{
  background-color: rgb(252, 120, 55);
}
div#cinco{
  background-color: rgb(252, 120, 55);
}
div#seis{
  background-color: rgb(252, 120, 55);
}

img.icon{
  display: block;
  margin: 10px auto;
  background-color: rgba(255,255,255,0.15);
  width: 20px;
  padding: 20px;
  -webkit-border-radius: 45%;
  -webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,0);
  -webkit-transition: box-shadow 0.4s;
}
p.texto{
  font-size: 1.2em;
  color: beige;
  text-align: center;
  padding-top: 0px;
  opacity: 0.6;
  -webkit-transition: padding-top 0.4s;

}
div.contenedor:hover{
  height: 120px;
}
div.contenedor:hover p.texto{
  padding-top: 18px;
  opacity: 1;
}

div.contenedor:hover img.icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,0.6);
}