*{
    margin: 0px;
    padding: 0px;
    
}

body{
  background-color: rgb(238, 236, 236);

}
/*---FUENTES---*/

@font-face {
  font-family: DK-brush;
  font-style: normal;
  font-weight: normal;
  src: url(../media/fonts/DK-brush.otf);
}

@font-face {
  
  font-family: free;
  font-style: normal;
  font-weight: normal;
  src: url(../media/fonts/free.TTF);
}

/*----------------*/

/*Contenido de los post Pcontenido */

.Pcontenido{
  display: grid;
  width: 100%;
}


.destacado{
  margin: 70px;
  margin-bottom: 0%;
  font-family: 'free' , sans-serif  ;
  font-size: 40px;
  text-align: center;
  color: rgb(61, 24, 6);
}

.promocionesT{
  margin: 20px;
  color: rgb(61, 24, 6);
  font-family: 'free' , sans-serif  ;
  font-size: 40px;
}

/*----------------*/

.post1 ,.post2 ,.post3 ,.post3, .post4, .post5 ,.post6 ,.post7, .post8, .post9 ,.post10{
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 351px;
  border-radius: 15px;
  margin: auto;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

/* -----ASIGNACION DE LOS GRID AREAS----*/
.post1 {
  grid-area: item1;
}
.post2 {
  grid-area: item2;
}
.post3 {
  grid-area: item3;
}
.post4 {
  grid-area: item4;
}
.post5{
  grid-area: item5;
}
.post6{
  grid-area: item6;
}
.post7{
  grid-area: item7;
}
.post8{
  grid-area: item8;
}
.post9{
  grid-area: item9;
}

.descripcion{
  font-size: 12px;
  margin: 5px;
}

/***************************************/

.imgitem1{
  width: 200px;
  height: 281px;
  border-radius: 15px;
}

/*
.imgitem2{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item2;
}

.imgitem3{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item3;
}

.imgitem4{
  display: grid;
  width: 200px;
  height: 281px;
  border-radius: 15px;
  grid-area: item4;
}


.imgItem, .imgItem1, .imgItem2 , .imgItem3,
.imgItem4, .imgItem5, .imgItem6{
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    width: 130px;
    height: 201px;
    border-radius: 15px;

}*/ 

/*
.item1, .item2, .item3 , .item4,
.item5, .item5, .item6, .imgItem, .imgItem1, .imgItem2 , .imgItem3,
.imgItem4, .imgItem5, .imgItem6{
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    width: 130px;
    height: 201px;
    border-radius: 15px;
}
*/

/*---------ESPACIO DE LOS POST------*/
.posts{
  display: grid;
  grid-gap: 50px;
  margin: 20px auto;
  grid-template-areas: "item1 item2 item3 item4 item5"
                       "item6 item7 item8 item9 item10";
}

/*----------------------------------*/

/* Slider */
.swiper-container {
  width: 90%;
  /*padding-top: 50px;
  padding-bottom: 30px;*/
  height: 210px;
}
.swiper-slide {
  background-position: center;
  /*background-size: cover;*/
  width: 200px;
  /*padding-bottom: 30px;*/
  border-radius: 5%;
}

.swiper-wrapper{
  height: 200px;

}

/*--------*/

/*--------------------- MENU--------------I-------*/
header{
  /*margin:50px auto;*/
  width:100%;
  height:50px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  }
.menu{
  width: 100%;
}
div.contenedor{
  width: 16.66666%;
  height: 103px;
  float: left;
  -webkit-transition:height 0.4s;
}

div#uno, #dos, #tres, #cuatro, #cinco,#seis{
  background-color: rgb(252, 120, 55);
}

img.icon{
  display: block;
  margin: 10px auto;
  background-color: rgba(255,255,255,0.15);
  width: 20px;
  padding: 20px;
  -webkit-border-radius: 45%;
  -webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,0);
  -webkit-transition: box-shadow 0.4s;
}
p.texto{
  font-size: 1.2em;
  color: beige;
  text-align: center;
  padding-top: 0px;
  opacity: 0.6;
  -webkit-transition: padding-top 0.4s;

}
div.contenedor:hover{
  height: 120px;
}
div.contenedor:hover p.texto{
  padding-top: 18px;
  opacity: 1;
}

div.contenedor:hover img.icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,0.6);
}

/*--------------------- MENU-----------------F----*/