
*{
  margin: 0px;
  padding: 0px;
}

body{
background-color: #fff;
}
/*---FUENTES---*/
@font-face {
font-family: DK-brush;
font-style: normal;
font-weight: normal;
src: url(../media/fonts/DK-brush.otf);
}
@font-face {

font-family: free;
font-style: normal;
font-weight: normal;
src: url(../media/fonts/free.TTF);
}
/*----------------*/




/*Contenido de los post Pcontenido */
.Pcontenido{
display: grid;
width: 100%;

}
.destacado{
margin: 60px;
margin-bottom: 0%;
font-family: 'helvetica' , casans-serif  ;
font-size: 30px;
text-align: center;
color: rgb(36, 36, 36);
}
.promocionesT{
display: grid;
margin-left: 90px;
color: rgb(36, 36, 36);
font-family: Helvetica, sans-serif;
font-size: 25px;
margin-bottom :10px;
}
/*----------------*/

.post1 ,.post2 ,.post3 ,.post3, .post4, .post5 ,.post6 ,.post7, .post8, .post9 ,.post10,.post11,.post12,.post13,.post14,.post15,.post16,.post17,.post18{
background-color: rgb(255, 255, 255);
border: solid 1px;
border-color: #707070;
width: 220px;
height: 365px;
border-radius: 15px;
font-family: Arial, Helvetica, sans-serif;
grid-row-end: span 2;

transition: height .2s;

}

/* -----ASIGNACION DE LOS GRID AREAS----
.post1 {
grid-area: item1;
}
.post2 {
grid-area: item2;
}
.post3 {
grid-area: item3;
}
.post4 {
grid-area: item4;
}
.post5{
grid-area: item5;
}
.post6{
grid-area: item6;
}
.post7{
grid-area: item7;
}
.post8{
grid-area: item8;
}
.post9{
grid-area: item9;
}*/

.descripcion{
font-size: 12px;
margin: 5px;
width: 80%;

float: left;
}

.escondido{
  float: left;
  font-size: 12px;
  margin: 5px;
  width: 80%;
  display: none;
  trasition: display 0.7s;
}

.activarSty{
display: block;
}

/***************************************/

.imgitem1{
width: 220px;
height: 300px;
border-radius: 15px;
}

/*---------ESPACIO DE LOS POST------*/
.posts{
display: grid;
grid-gap: 15px;
justify-content: center;
  /*margin: 10px auto;

grid-template-areas: "item1 item2 item3 item4 item5"
                     "item6 item7 item8 item9 item10";
*/
grid-template-columns: repeat(auto-fill, 220px);
  margin: 10px;
}

button.botonAbajo{
background: none;
border: 0;
font: inherit;
padding: 0;
cursor: pointer;

}

/*----------------------------------*/

/* Slider */
.swiper-container {
width: 60%;
/*padding-top: 50px;  
padding-bottom: 30px;*/
height: 210px;
background-image: url("../media/barra-slider.png");
background-size: 100% 100%;
}
.swiper-slide {
background-position: center;
/*background-size: cover;*/
width: 200px;
/*padding-bottom: 30px;*/
border-radius: 5%;
}
.swiper-wrapper{
height: 100px;
}
/*--------*/

.diario{
  display: block;
}

.lunes{
  display: none;
}

.martes{
  display: none;
}

.miercoles{
  display: none;
}

.jueves{
  display: none;
}

.viernes{
  display: none;
}

.sabado{
  display: none;
}

.domingo{
  display: none;
}

.activarPost{
  display: block;
}




