<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>asdasdas</h2>
    <main><address><address>asd
        asd
        sd
        sf
        sf
        sdfsf
        ref
        re
        <em><fieldset><dfn><s><fieldset>
            
        </fieldset></s></dfn></fieldset></em>
        <fieldset><picture>
            <source media="(ef
            r
            fve
            fwfr
            wed
            e
            fwe
            few
            fw
            f)" srcset="">
            <img src="" alt="">
        </picture></fieldset>
    </address></address></main>
   <h2 id="si_paso">aqui picame</h2>
    <a href="../admin/admin.html">admin</a>
    <a href="../componentes/componentes.html">componentes</a>
    <a href="../home/home.html">home</a>
    <a href="../lugares/lugares.html">lugares</a>
</body>
<script src="../rutas.js"></script>
</html>
