*{
    margin: 0;
    padding: 0;
}


.contenido{
    margin: 20px;;
    margin-inline: auto;
    width: 80%;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

.imgLogo{
    width: 90%;
    margin-inline: auto;
   border-radius: 20px;
}

.descripcion{
    font-family: 'helvetica' ,sans-serif;
    font-size: 20px;
    width: 80%;
    margin: auto;

}

.titulo{
    margin-bottom: 20px;
    
    width: 80%;
    font-size: 35px;
}

.cajaDmenu{
    width: 15%;
    background-color: #FFA24B;
    height: 50px;
    border-radius: 30px;
    margin-inline: auto;
    margin-top: 50px;
}

a{
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    text-decoration: none;
}

.item {
    font-family: 'helvetica' ,sans-serif;
    font-size: 15px;

    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    
    width: 49%;
    margin-inline: auto;
    display: inline-block;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    transition: background-color .1s;

    transition: color .4s;
}

.item:hover{
    background-color: #FFAC5E;
 
    color: #1C1C1C;
}

.item p.text2{
    margin-top: 15px;
}

/**     MAPA        **/
/* Set the size of the div element that contains the map */

.areaMapa{
    display: none;
}

.activar{
    display: grid;
}

#map{
    margin: 20px;
    margin-inline: auto;
    border-radius: 20px;
    height: 400px;  /* The height is 400 pixels */
    width: 75%;  /* The  width is the width of the web page */
}


/** Galeria **/

.galeria{
    margin: 20px;
    width: 70%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    display: none;
}

.picP{
    width: 90%;
    margin-inline: auto;
}

.pic{
    width: 100%;
    padding-inline: auto;
    border-radius: 30px;
}

/** FIN DE GALERIA **/
