

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
body{
    /* Para que funcione correctamente en Smarthpones y Tablets */
    height:100vh;
}

body {
    
    /* Centramos el fondo horizontal y verticalmente */
    background-position: center center;
    /* El fondo no se repite */
    background-repeat: no-repeat;
    /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
    background-attachment: fixed;
    /* El fondo se re-escala automáticamente */
    background-size: cover;
    /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
    background-color: #FFF;
}


.container{
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 32px;
}

form{
  text-transform: capitalize;
  text-align: center;
}

input{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  color:#000000;
  font-size: .8rem;
  transition: .4s;
}

[type="submit"]{
  background: #46b389;
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1rem;
  transition: .4s;
  border: none;
  box-shadow: none;
  margin: 0;
}

p{
  color: rgb(255, 255, 255);
}