/*--------------------- MENU--------------I-------*/
header{
    /*margin:50px auto;*/
    width: 100%;

    height:65px;
    margin-inline: auto;
    font-family: "helvetica" ,sans-serif;
    font-size: 15px;
  
    
  
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1030;
    
    }
  .menu{
    width: 100%;
  
  
  }
  div.contenedor {
    width: 20%;
    height: 65px;
    -webkit-transition:25px 0.4s;
    float: left;
    
  }
  
  div #uno, #dos, #tres, #cuatro, #cinco,#seis{
    background-color: #fff;
  
  }
  
  img.icon{
    display: block;
    margin: 10px auto;
  }
  
  p.texto{
    font-size: 1.2em;
    color: rgb(36, 36, 36);
    text-align: center;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    opacity: 0.6;
    -webkit-transition: padding-top 0.4s;
  
  }
  div.contenedor:hover{
    height: 70px;
    background-color: #FFCB9A;
  }
  div.contenedor:hover p.texto{
    padding-top: 18px;
    opacity: 1;
  }
  /*
  div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255, 255, 255, 0.884);
  }*/
  
  .icon{
    width: 100px;
    height: 50px;
    margin: 15px;
  }
  /*--------------------- MENU-----------------F----*/